<div class="container-fluid">
  <div class="col">
    <div class="row border-bottom mb-3">
      <h5 class="my-3">Detalles de la venta</h5>
    </div>
    <div class="row mb-3">
      <div class="col-sm-8">
        <h4>{{ factura.fecha }}</h4>
        <h4>Isla {{ factura.asesor.isla.id }}, {{ factura.asesor.isla.centroComercial }} </h4>
      </div>
      <div class="col">
        <h1>$ {{ factura.total }}</h1>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <p>Número de factura: {{ factura.id }}</p>
        <p>Asesor comercial: {{ factura.asesor.nombre }} {{ factura.asesor.apellido }}</p>
        <p>Factura a nombre de: {{ factura.cliente.nombre }} {{ factura.cliente.apellido }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col quarter-height">
        <table class="table table-secondary table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombres</th>
              <th scope="col">Valor unidad</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Aporte</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of factura.factura_detalle">
              <th scope="row">{{ producto.producto.codigo }}</th>
              <td>{{ producto.producto.nombre }}</td>
              <td>{{ producto.producto.valor }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>{{ producto.valor }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-start align-items-end">
      <div class="col-sm-4">
        <a class="btn btn-outline-secondary" (click)="eliminar(content)">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">¿Estás seguro?</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Estás a punto de eliminar la factura con número {{ factura.id }}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" (click)="eliminarConfirmo()">Confirmar</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cancelar</button>
	</div>
</ng-template>
