<div class="container-fluid">
  <div class = "row border-bottom mb-3">
    <div class = "col-md-auto">
      <a class="navbar-brand" routerLink=""><img src="assets/flecha-izquierda.png" class="my-3" alt="flecha-izquierda" width="20" height="20"></a>
    </div>
    <div class = "col-md-auto">
      <h5 class = "text-center my-3">Agregar nueva venta</h5>
    </div>
  </div>
  <div class="row">
    <div class="container mx-8 my-3">
      <div class = "row">
        <div class = "col-6">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Asesor</label>
            <select class="form-select" id="inputGroupSelect01">
              <option value="{{ asesor.id }}" *ngFor="let asesor of asesores">{{ asesor.nombre }} {{ asesor.apellido }}</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect02">Cliente</label>
            <select class="form-select" id="inputGroupSelect02">
              <option value="{{ cliente.id }}" *ngFor="let cliente of clientes">{{ cliente.nombre }} {{ cliente.apellido }}</option>
            </select>
          </div>
        </div>
        <div class = "col">
          <h1 class="text-end mx-5">Total: ${{ total }}</h1>
        </div>
      </div>
    </div>
  </div>
  <p class="fw-lighter">Productos</p>
  <div class="row border">
    <div class="col quarter-height">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Valor unidad</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Aporte</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productosEscogidos" (click)="selectedEscogidos(producto)">
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
              </div>
            </td>
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.valor }}</td>
            <td>
              <div class="custom-control custom-control-input" (keyup)="onKey($event, producto)">
                <input type="text-box" class="custom-control-input" #customInput1>
              </div>
            </td>
            <td>{{ calcularAporte(producto, customInput1) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start my-2">
      <button class="btn btn-dark me-md-2" type="button" (click)="agregar(content)">Agregar</button>
      <button class="btn btn-dark" type="button" (click)="eliminar()">Eliminar</button>
    </div>
  </div>
  <button type="button" class="btn btn-outline-danger" (click)="crearFactura()">Confirmar</button>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Agregar producto</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<table class="table">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Valor</th>
          <th scope="col">Categoria</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventario of inventarios" (click)="selected(inventario.producto)">
          <td>{{ inventario.producto.codigo }}</td>
          <td>{{ inventario.producto.nombre }}</td>
          <td>{{ inventario.producto.valor }}</td>
          <td>{{ inventario.producto.categoria }}</td>
        </tr>
      </tbody>
    </table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" (click)="agregarProductos()">Confirmar</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cancelar</button>
	</div>
</ng-template>
