/* You can add global styles to this file, and also import other style files */

.full-height{
  height: calc(100vh - 110px);
  overflow-y: scroll;
}

.quarter-height{
  height: calc(60vh - 110px);
  overflow-y: scroll;
}

.btn-square-md {
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding: 0px;
  font-size:12px;
  }
