<div class="container-fluid">
  <div class="row border-bottom mb-3" >
    <h5 class="text-center my-3">Straight Ahead Ecuador: Home</h5>
  </div>
  <div class="row justify-content-md-center align-items-center">
    <button type="button" class="btn btn-dark btn-square-md mx-5 my-5" routerLink="/facturas">Revisar facturas creadas</button>
    <button type="button" class="btn btn-dark btn-square-md mx-5" routerLink="/inventarios">Revisar inventario</button>
    <button type="button" class="btn btn-dark btn-square-md mx-5" routerLink="/facturas/create">Crear factura nueva</button>
    <button type="button" class="btn btn-dark btn-square-md mx-5">Revisar inventario</button>
    <button type="button" class="btn btn-dark btn-square-md mx-5" routerLink="/productos/crear">Añadir nuevo producto</button>
  </div>
</div>
